<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1">
    </button>
    <a class="navbar-brand">Welcome Test - Belatrix</a>
  </div>
  <div class="collapse navbar-collapse"
       id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li>
        <a href="#/directors/">Directors</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="grid"
       ui-grid="vm.gridData"
       ui-grid-selection
       ng-if="vm.totalServerItems > 0">
  </div>
  <p ng-if="vm.totalServerItems == 0">
    <small class="my-form text-danger"
           ng-show="true">No records were found
    </small>
  </p>
</div>